* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
    pointer-events: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a:hover, a:visited, a:link, a:active {
    color: #000000;
}
input {
    border: none;
    outline: none;
}